# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:root@localhost:5432/metamillions?schema=public"

# Postgres
POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=metamillions
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=false
POSTGRES_TIMEZONE=Europe/London

# PGAdmin
PGADMIN_DEFAULT_EMAIL=test@example.com
PGADMIN_DEFAULT_PASSWORD=test

# Internal app
ADMIN_PASSWORD=test
ADMIN_WALLET=0xb

# JWT key
TOKEN_KEY=0xb
